spring.application.name=csapp

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.url=jdbc:postgresql://localhost:5432/csapp_db
spring.datasource.username=postgres
spring.datasource.password=

s3.endpoint=
s3.bucket-name=
s3.region=
s3.access-key-id=
s3.secret-access-key=
